:root {
  --primary-color: #1938c2;
  --secondary-color: #7a1212;
  --dark-grey: #2b2b2b;
  --b1-background-color: #ffffff;
  --b2-background-color: #aaa7a1;
  --font-weight: 600;
  --h-font-weight: 700;
  --font-size: 21px;
  --line-height: 1.5;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  /* Sets the font size to 16px */
  line-height: var(--line-height);
  /* Sets the line-height to 1.6 */
  text-align: center;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    /* Sets the font size to 16px */
    line-height: var(--line-height);
    /* Sets the line-height to 1.6 */
    text-align: center;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: var(--font-weight);
  font-size: var(--font-size);
  /* Sets the font size to 16px */
  line-height: var(--line-height);
  /* Sets the line-height to 1.6 */
}

footer {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  /* Sets the font size to 16px */
  line-height: var(--line-height);
  /* Sets the line-height to 1.6 */
}

a {
    color: var(--secondary-color)
}

a:hover {
    /* No underlinig when hovering over a link */
    text-decoration: none;
}

a:visited {
    
    color: var(--primary-color)
}

a:active {
    /*selected link*/
    color:var(--secondary-color)
}

input, texture, select, button {
    font-family: system-ui;
  }

button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--b2-background-color);
    color: var(--b1-background-color);
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }

  button:hover, button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
  }

  div {
    padding: 10px;
    margin: 10px;
    border: 0px solid black;
  }

  .header__title {
    margin: 0 auto;
  }

  .profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
  }

  .page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .profile {
    max-width: 700px;
    margin: 0 auto;
  }

.nav {
  list-style-position: inside;
  list-style-type: none;
}

.page-header {
  display: flex;
  width: 100%;
}

.page-header__item {
  flex: 0 1 200px;
  text-align: right;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
  text-align: right;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-row: 300px 300px;
}

.grid__item {
  background-color: var(--b2-background-color);
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.logo {
  max-width: 170px;
}

.button, button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--b1-background-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: 0.2s opacity;
  max-width: 200px;
  align-items: center;
  flex: auto;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  max-width: 200px;
  align-items: center;
}

.info{
  text-align: center;
  display: flex;
  clear: both;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}

.hobbies {
  list-style-type: none;
  text-align: center;
}

element.style {
  margin: 1rem auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.contact {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  /* Sets the font size to 16px */
  line-height: var(--line-height);
  /* Sets the line-height to 1.6 */
  text-align: center;
}

